# IDEA specific patterns
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Maven specific patterns
target
*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch